@use "variables" as *;

@font-face {
  font-family: "Modern DOS";
  src: url(/fonts/ModernDOS9x16.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Stint Ultra Extended";
  src: url(/fonts/Stint_Ultra_Expanded/StintUltraExpanded-Regular.ttf) format("truetype");
  font-display: swap;
}

* {
  font-size: 16px;
}

body, header, footer, button, select, a {
  text-transform: lowercase;
  color: $black;
}

body, button, input, select {
  font-family: "Stint Ultra Extended", sans-serif;
  font-display: swap;
  font-weight: 800;
  line-height: 1.6;
  text-transform: lowercase;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 800;
}

h1 {
  font-family: "Modern DOS", monospace;
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 1.5;
  color: $white;
  text-shadow: 0 -3px $black, 3px 0 $black, 0 3px $black, -3px 0 $black;
  margin: 0;
  padding: 0;
  margin-bottom: -20px;

  @media only screen and (max-width: $tablet) {
    font-size: 10vw;
    margin-bottom: -5vw;
  }
}

h2 {
  margin: 0;
  margin-bottom: -20px;
  font-family: "Modern DOS", monospace;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  color: $white;
  text-shadow: 0 -2px $black, 2px 0 $black, 0 2px $black, -2px 0 $black;
  max-width: 90%;
  margin-bottom: -5px;

  @media only screen and (max-width: $tablet) {
    font-size: 4vw;
    line-height: 1.25;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

#cities, button, a {
  font-style: italic;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  line-height: 2;

  @media only screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

footer {
  p, a {
    font-family: "Modern DOS", monospace;
    color: $white;
    text-shadow: 0 -1.5px $black, 1.5px 0 $black, 0 1.5px $black, -1.5px 0 $black;
    font-size: 1rem;
    font-weight: 400;
    max-width: 1000px;
    margin: 0;

    @media only screen and (max-width: $tablet) {
      font-size: 0.8rem;
    }
  }
}