@use "variables" as *;

@font-face {
  font-family: "Boldonse";
  src: url(/fonts/Boldonse/Boldonse-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Stint Ultra Extended";
  src: url(/fonts/Oranienbaum/Oranienbaum-Regular.ttf) format("truetype");
  font-display: swap;
}

* {
  font-size: 18px;
}

body, header, footer, button, select, a {
  color: $black;
}

body, button, input, select {
  font-family: "Stint Ultra Extended", sans-serif;
  font-display: swap;
  font-weight: 800;
  line-height: 1.6;
  text-decoration: none;
}

button {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-weight: 800;
}

h1 {
  font-family: "Boldonse", sans-serif;
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 1.5;
  color: $white;
  margin: 20px 0;
  padding: 0;

  @media only screen and (max-width: $tablet) {
    font-size: 8vw;
    margin-bottom: 0;
  }
}

h2 {
  margin: 0;
  margin-bottom: -20px;
  font-family: "Stint Ultra Extended", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  font-style: italic;
  color: $white;
  max-width: 90%;
  cursor: default;
  margin-bottom: -5px;

  @media only screen and (max-width: $tablet) {
    font-size: 6vw;
    line-height: 1.25;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

#cities {
  font-style: italic;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  line-height: 2;

  @media only screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

footer {
  p, a {
    font-family: "Stint Ultra Extended", sans-serif;
    color: $white;
    font-size: 0.8rem;
    font-weight: 400;
    max-width: 1200px;
    margin: 0;
    text-wrap: balance;

    @media only screen and (max-width: $tablet) {
      font-size: 0.8rem;
    }
  }
}