@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/typography' as *;
@use 'partials/animations';

html {
    background: $black;
}

body {
    background-color: $black;
    background-size: 10px 10px;
    background: linear-gradient(-125deg, rgba(161,62,149,0.5) 0%, rgba(148,62,161,0.5) 10%, rgba(53,209,172,0.25) 46%, rgba(39,210,158,0.25) 51%, rgba(159,231,228,0.5) 74%, rgba(159,201,231,0.5) 86%);
    text-align: center;
    min-width: 375px;
}

header, main, footer {
    background-color: rgba($black, 0.75);
    margin: 0;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    padding-top: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    padding-bottom: 40px;
}

main {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-top: 15px;
}

#city-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    text-align: center;

    @media only screen and (max-width: $tablet) {
        flex-direction: column;
    }
}

#cities, button {
    color: $black;
    font-size: 1rem;
}

button {
    background-color: $white;
    border: 2px solid $black;
    border-radius: 5px;
    padding: 5px 15px;
    transition: background-color 0.5s;

    &:hover {
        background-color: rgba(161,62,149,0.4);
        color: $white;
    }

    &.selected, &.selected:hover {
        background-color: rgba($color1, 0.2);
        color: $white;
        transition: background-color 1s;
    }

    @media only screen and (max-width: $tablet) {
        font-size: 0.9rem;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}

#cities {
    width: 95%;
    margin-top: 25px;

    p {
        color: $white;
    }

    @media only screen and (max-width: $tablet) {
        width: 100%;
    }
}

.button-container {
    @media only screen and (max-width: $tablet) {
        width: 100%;
    }
}

button {
    margin: 5px;

    @media only screen and (max-width: $tablet) {
        min-width: 40%;
    }
}

#cities:hover, button:enabled:hover , a:hover {
    cursor: pointer;
    font-style: italic;
}

button:disabled, #cities:disabled {
    background-color: rgba(20, 32, 38, 0.15);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("/assets/down-arrow.png") no-repeat right rgba($white, 0.75);
    background-size: 30px;
    background-position-x: 98%;
    background-position-y: 45%;
}

#image-results {
    text-align: center;
    width: 100%;
    height: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

h3 {
    width: 600px;
    margin: 40px auto 0 auto;
    padding: 5px 15px;
    background-color: $white;
    border: 2px solid $black;
    border-radius: 5px;

    &.error {
        bottom: 20px;
    }
}

.pigeon-image {
    opacity: 1;
    display: block;
    aspect-ratio: 1/1;
    max-width: 400px;
    min-height: 400px;
    width: 100%;
    margin: 20px 0;
    margin-bottom: 30px;
    border: 2px solid $black;
    border-radius: 50%;
    object-fit: cover;
    animation: 1s ease-in fadeInZoomOut;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: rgba($color1, 0.4);
}

.default {
    object-fit: contain;
}

/* responsive to tablet */
@media only screen and (max-width: $tablet) {

    header {
        padding: 30px 20px;
        padding-top: 10px;
    }

    main {
        position: relative;
        min-height: 440px;
        padding-bottom: 0;
    }

    h3 {
        position: absolute;
        bottom: 30px;
        width: 90%;
        margin: auto 5%;
    }

    .pigeon-image {
        max-width: 300px;
        min-height: 300px;
        margin: 0 auto;
        margin-top: -20px;
    }
}