// import all partials
@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/typography' as *;
@use 'partials/animations';

html {
    background: $black;
}

body {
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #7BA0CF 0, #ACCBF4 0, #7BA0CF 0, #ACCBF4 50%);
    text-align: center;
}

a:hover {
    color: $color2;
}


header, main, footer {
    margin: 0;
}

header, footer {
    background-color: rgba($white, 0.5);
}

header {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid $black;
    padding: 25px 50px;
    padding-top: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 4px solid $black;
    padding: 25px;
}

main {
    background-color: rgba($black, 0.5);
    width: 100%;
    height: 100%;
    padding: 30px 0;
}

#city-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    gap: 15px;
    text-align: center;

    /* responsive to tablet */
    @media only screen and (max-width: $tablet) {
        flex-direction: column;
        padding-top: 10px;
    }
}

#cities, button {
    background-color: $white;
    color: $black;
    font-size: 20px;
    border: 3px solid $black;
    border-radius: 5px;
    padding: 5px 15px;
}

#cities {
    width: 80%;
    max-width: 600px;

    /* responsive to tablet */
    @media only screen and (max-width: $tablet) {
        width: 100%;
    }
}

.button-container {
    /* responsive to tablet */
    @media only screen and (max-width: $tablet) {
        width: 100%;
    }
}

button {
    margin: 5px;

    /* responsive to tablet */
    @media only screen and (max-width: $tablet) {
        min-width: 40%;
    }
}

#cities:hover, button:enabled:hover , a:hover {
    cursor: pointer;
    font-style: italic;
}

button:disabled, #cities:disabled {
    background-color: rgba($white, 0.5);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("/assets/down-arrow.png") no-repeat right rgba($white, 0.75);
    background-size: 30px;
    background-position-x: 98%;
    background-position-y: 45%;
}

#image-results {
    text-align: center;
    width: 100%;
    height: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

h3 {
    width: 600px;
    margin: 25px auto 0 auto;
    padding: 5px 15px;
    background-color: $white;
    border: 3px solid $black;
    border-radius: 5px;
    text-transform: uppercase;

    &.error {
        bottom: 20px;
    }
}

.pigeon-image {
    opacity: 1;
    display: block;
    aspect-ratio: 1/1;
    max-width: 350px;
    min-height: 350px;
    width: 100%;
    border: 8px solid $black;
    border-radius: 50%;
    object-fit: cover;
    animation: 1s ease-in fadeInZoomOut;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: rgba($black, 0.8);
}

.default {
    object-fit: contain;
}

/* responsive to tablet */
@media only screen and (max-width: $tablet) {

    header {
        padding: 30px 20px;
        padding-top: 10px;
    }

    main {
        position: relative;
        min-height: 500px;
        padding-bottom: 0;
    }

    h3 {
        position: absolute;
        bottom: 30px;
        width: 90%;
        margin: auto 5%;
    }

    .pigeon-image {
        margin: 0 auto;
    }
}