html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Modern DOS";
  src: url(/fonts/ModernDOS9x16.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Stint Ultra Extended";
  src: url(/fonts/Stint_Ultra_Expanded/StintUltraExpanded-Regular.ttf) format("truetype");
  font-display: swap;
}
* {
  font-size: 16px;
}

body, header, footer, button, select, a {
  text-transform: lowercase;
  color: #282b2c;
}

body, button, input, select {
  font-family: "Stint Ultra Extended", sans-serif;
  font-display: swap;
  font-weight: 800;
  line-height: 1.6;
  text-transform: lowercase;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 800;
}

h1 {
  font-family: "Modern DOS", monospace;
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 1.5;
  color: #ede2ee;
  text-shadow: 0 -3px #282b2c, 3px 0 #282b2c, 0 3px #282b2c, -3px 0 #282b2c;
  margin: 0;
  padding: 0;
  margin-bottom: -20px;
}
@media only screen and (max-width: 1080px) {
  h1 {
    font-size: 10vw;
    margin-bottom: -5vw;
  }
}

h2 {
  margin: 0;
  margin-bottom: -20px;
  font-family: "Modern DOS", monospace;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  color: #ede2ee;
  text-shadow: 0 -2px #282b2c, 2px 0 #282b2c, 0 2px #282b2c, -2px 0 #282b2c;
  max-width: 90%;
  margin-bottom: -5px;
}
@media only screen and (max-width: 1080px) {
  h2 {
    font-size: 4vw;
    line-height: 1.25;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

#cities, button, a {
  font-style: italic;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  line-height: 2;
}
@media only screen and (max-width: 1080px) {
  h3 {
    font-size: 1rem;
  }
}

footer p, footer a {
  font-family: "Modern DOS", monospace;
  color: #ede2ee;
  text-shadow: 0 -1.5px #282b2c, 1.5px 0 #282b2c, 0 1.5px #282b2c, -1.5px 0 #282b2c;
  font-size: 1rem;
  font-weight: 400;
  max-width: 1000px;
  margin: 0;
}
@media only screen and (max-width: 1080px) {
  footer p, footer a {
    font-size: 0.8rem;
  }
}

@keyframes fadeInZoomOut {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
html {
  background: #282b2c;
}

body {
  background-color: #282b2c;
  background-size: 10px 10px;
  background: linear-gradient(-125deg, rgba(161, 62, 149, 0.5) 0%, rgba(148, 62, 161, 0.5) 10%, rgba(53, 209, 172, 0.25) 46%, rgba(39, 210, 158, 0.25) 51%, rgba(159, 231, 228, 0.5) 74%, rgba(159, 201, 231, 0.5) 86%);
  text-align: center;
  min-width: 375px;
}

header, main, footer {
  background-color: rgba(40, 43, 44, 0.75);
  margin: 0;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  padding-top: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  padding-bottom: 40px;
}

main {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  padding-top: 15px;
}

#city-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  text-align: center;
}
@media only screen and (max-width: 1080px) {
  #city-selection {
    flex-direction: column;
  }
}

#cities, button {
  color: #282b2c;
  font-size: 1rem;
}

button {
  background-color: #ede2ee;
  border: 2px solid #282b2c;
  border-radius: 5px;
  padding: 5px 15px;
  transition: background-color 0.5s;
}
button:hover {
  background-color: rgba(161, 62, 149, 0.4);
  color: #ede2ee;
}
button.selected, button.selected:hover {
  background-color: rgba(159, 201, 231, 0.2);
  color: #ede2ee;
  transition: background-color 1s;
}
@media only screen and (max-width: 1080px) {
  button {
    font-size: 0.9rem;
  }
  button:hover {
    background-color: #ede2ee;
    color: #282b2c;
  }
}

#cities {
  width: 95%;
  margin-top: 20px;
}
#cities p {
  color: #ede2ee;
}
@media only screen and (max-width: 1080px) {
  #cities {
    width: 100%;
  }
}

@media only screen and (max-width: 1080px) {
  .button-container {
    width: 100%;
  }
}

button {
  margin: 5px;
}
@media only screen and (max-width: 1080px) {
  button {
    min-width: 40%;
  }
}

#cities:hover, button:enabled:hover, a:hover {
  cursor: pointer;
  font-style: italic;
}

button:disabled, #cities:disabled {
  background-color: rgba(20, 32, 38, 0.15);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("/assets/down-arrow.png") no-repeat right rgba(237, 226, 238, 0.75);
  background-size: 30px;
  background-position-x: 98%;
  background-position-y: 45%;
}

#image-results {
  text-align: center;
  width: 100%;
  height: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

h3 {
  width: 600px;
  margin: 40px auto 0 auto;
  padding: 5px 15px;
  background-color: #ede2ee;
  border: 2px solid #282b2c;
  border-radius: 5px;
}
h3.error {
  bottom: 20px;
}

.pigeon-image {
  opacity: 1;
  display: block;
  aspect-ratio: 1/1;
  max-width: 400px;
  min-height: 400px;
  width: 100%;
  margin: 20px 0;
  margin-bottom: 30px;
  border: 4px solid #282b2c;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: 1s ease-in fadeInZoomOut;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(159, 201, 231, 0.4);
}

.default {
  -o-object-fit: contain;
     object-fit: contain;
}

/* responsive to tablet */
@media only screen and (max-width: 1080px) {
  header {
    padding: 30px 20px;
    padding-top: 10px;
  }
  main {
    position: relative;
    min-height: 440px;
    padding-bottom: 0;
  }
  h3 {
    position: absolute;
    bottom: 30px;
    width: 90%;
    margin: auto 5%;
  }
  .pigeon-image {
    max-width: 300px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: -20px;
  }
}